/* ====== Reused Styles ====== */

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-even {
    justify-content: space-evenly;
}

/* ====== Id Styles ====== */

#header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.736);
    color: white;
}

#header > h1 {
    font-size: 300%;
}

#nav-bar {
    width: 700px;
}

#nav-bar > a {
    font-size: 175%;
}

#character-card {
    background-color: red;
    width: 700px;
    margin-top: 40px;
}