/* ====== Reused Styles ====== */

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-even {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.border-black {
    border: solid black;
    border-radius: 10px;
}

.txt-black {
    color: black;
}

/* ====== Page Header Styles ====== */

#header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.736);
    color: white;
}

#header > h1 {
    font-size: 300%;
}

#nav-bar {
    width: 700px;
}

#nav-bar > button {
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 175%;
    background-color: inherit;
    color: white;
}

/* ====== Character Card Styles ====== */

.slide-con {
    width: 1000px;
}

.char-card {
    width: 700px;
    margin: 50px 63px 0px 63px;
    padding: 10px;
    background-color: rgb(207, 207, 207);
}

.char-header {
    height: 130px;
    width: 600px;
}

.char-body > p {
    background-color: white;
    height: inherit;
    width: 600px;
    margin: 10px 0px 0px 30px;
    padding: 20px;
}

.name > h2 {
    font-size: 150%
}

.char-info {
    width: 700px;
    height: 40px;
}


.char-history {
    width: 450px;
    padding-top: 10px;;
}

.arrow {
    height: 50px;
    width: 75px;
}

/* ====== Character Header ====== */

.main-img {
    height: 130px;
    width: 130px;
}

.img-more {
    height: 100px;
    background-color: white;
}